.airlinelist {
  margin: 20px;
  header {
    margin: 10px 0;
    h3 {
      line-height: 40px;
    }
    input {
      width: 100px;
      height: 40px;
    }
  }
  .airline {
    padding: 10px;
    border: 1px dashed #999;
    border-bottom: none;
    dt {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      line-height: 24px;
      input {
        width: 70px;
        height: 24px;
      }
    }
    dd {
      display: flex;
      flex-direction: column;
      border-top: 1px dashed #999;
      padding: 10px 0;
    }
    &:last-child {
      border-bottom: 1px dashed #999;
    }
  }
}